<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="SPA" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeType fileExtension=".woff" mimeType="font/woff" />
      <mimeType fileExtension=".woff2" mimeType="font/woff2" />
      <mimeType fileExtension=".ttf" mimeType="font/ttf" />
      <mimeType fileExtension=".otf" mimeType="font/otf" />
      <mimeType fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="public, max-age=31536000" for="*.js;*.css;*.woff;*.woff2;*.ttf;*.eot" />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate" for="*.html" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>